<!doctype html>
<html>

<head>
    <title>Häiden RSVP</title>
</head>

<body>
    <h1>RSVP häihin</h1>
    <form method="post" action="{{ url_for('rsvp') }}">
        <label for="name">Nimi:</label>
        <input type="text" id="name" name="name" required>
        <label for="status">Osallistutko?</label>
        <select id="status" name="status">
            <option value="Kyllä">Kyllä</option>
            <option value="Ei">Ei</option>
        </select>

        <label for="food_allergies">Ruoka-aineallergiat:</label>
        <input type="text" id="food_allergies" name="food_allergies">

        <label for="song_request">Kappaletoive:</label>
        <input type="text" id="song_request" name="song_request">

        <button type="submit">Lähetä</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>