<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Photo</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Etusivu</a></li>
            <li><a href="{{ url_for('rsvp') }}">RSVP</a></li>
            <li><a href="{{ url_for('schedule') }}">Hääpäivän ohjelma</a></li>
        </ul>
    </nav>
    <h1>Valitse lähetettävät kuvat</h1>
    <form action="{{ url_for('upload_photo') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <button type="submit">Upload</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>

</html>